body {
  margin-right: 60px;
  margin-left: 60px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
}

/* spacing befor "get all" button */
#all_csv_button {
  margin-left: 15px;
}
