* {
  box-sizing: border-box;
}

body {
  margin-right: 60px;
  margin-left: 60px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #f2efe9;
  color: rgb(48, 48, 48);
  margin: 0;
  padding: 0;
}

div#app {
  width: 50vw;
  padding: 20px;
  margin: 0 auto;
}

div.input-list-item {
  padding: 5px;
}

div.input-list-item input[type=checkbox] {
  font-size: 200%;
}

label {
  cursor: pointer;
}

@media (max-width: 1000px) {
  div#app {
    width: 100vw;
    margin: 0;
  }
}

hr {
  border: none;
  border-top: 1px solid black;
}

fieldset {
  border: 1px solid rgb(88, 88, 88);
  border-radius: 4px;
}

/* spacing befor "get all" button */
#all_csv_button {
  margin-left: 15px;
}
